* {
    box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  -webkit-text-size-adjust: none;
}

#app {
    height: 100%;
}
.chatContainer {
  height: 100%;
  width: 100%;
  padding: 50px 50px 100px;
  background: #607D8B
}

.userNameHeader, .userListHeader {
  background-color: #12b7d5;
  padding: 30px;
  border-radius: 15px 0 0 0;
  color: #fbfbfb;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: -1px -1px #0e8fa7;
  text-transform: uppercase;
  }
.userListHeader {
  border-radius: 0px 15px 0 0;
}
.messageList {
  width: 60%;
  height: 90%;
  background-color: #FFF;
  float: left;
  border-right: 1px solid #ccc;
      border-radius: 15px 0px 0px 0px;
      padding-bottom: 35px;
}
.message {

  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccc;


      display: block;

      -webkit-animation: fadeInFromNone 0.25s ease-out;
      -moz-animation: fadeInFromNone 0.25s ease-out;
      -o-animation: fadeInFromNone 0.25s ease-out;
      animation: fadeInFromNone 0.25s ease-out;



}

.message .user {
    color: #12B7D5;
    font-size: 11px;
    text-transform: uppercase;
      font-family: sans-serif;

}

.message .messageText {
    padding: 20px 0;
      font-family: sans-serif;
      color:#555;
          font-style: italic;
}


.userList {
    width: 40%;
    background: #fbfbfb;
    height: 90%;
    float: left;
        border-radius: 0px 15px 0px 0px;
  }
.inputForm {
  height: 100px;
  display: inline-block;
  width: 100%;
  padding: 10px 0 0 0;
  box-sizing: border-box;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #CCC;
  background: #f3f3f3;
  padding: 10px 30px 10px 10px;
  }

input[type="text"] {
  height: 44px;
  font-size: 14px;
  font-weight: bold;
  color: #0e8fa7;
  border: 1px solid #CCC;
  padding: 10px;
  box-sizing: border-box;
  width: 90%;
  margin: 20px 15px 0;
}
input[type="text"]:focus, .inputForm button:focus {
    outline: none;
}
.inputForm button {
    height: 44px;
    width: 6%;
    border: none;
    background: #12b7d5;
    color: #FFF;
    text-transform: uppercase;
  }


  .registerForm {
      width: 100%;
      height: 100%;
      background: #607D8B;
      text-align: center;
      display: block;
  }

  .registerForm input[type="text"] {
    width: 60%;
      float: left;
      margin-left: 16%;
}

.formHolder {
    margin: 20% 0;
    width: 100%;
    display: inline-block;
}
.submitButton {
    height: 44px;
    border: none;
    width: 100px;
    background: #12b7d5;
    color: #FFF;
    font-family: sans-serif;
    text-transform: uppercase;
    float: left;
    padding: 15px;
    font-size: 11px;
    margin: 20px 0px;

    width: 60%;
    float: left;
    margin-left: 16%;
  }
  .registerHeader {
    text-align: left;
    margin-left: 16%;
    font-family: sans-serif;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.userItem {
    padding: 30px;
    font-family: sans-serif;
    border-bottom: 1px solid #CCC;
    text-transform: uppercase;
    font-size: 13px;
    color: #0e8fa7;
    font-weight: bold;


        display: block;




}
.messageScollpane, .userScrollpane {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 90%;
}



@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        margin-left: 50px;
    }

    1% {
        display: block;
        opacity: 0;
        margin-left: 50px;
    }

    100% {
        display: block;
        opacity: 1;
        margin-left: 0px;


    }
}


@media screen and (max-width: 480px) {
  .chatContainer {
      padding: 10px 10px 100px;
    }

.userList {
  display: none;
}

.messageList {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.userNameHeader {
    border-radius: 15px 15px 0 0;
}
.inputForm button {
  width: 90%;
  margin-top: 10px;
  margin-left: 15px;
  }
  .inputForm {
      height: 145px;
    }
}







@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        margin-left: 50px;
    }

    1% {
        display: block;
        opacity: 0;
        margin-left: 50px;
    }

    100% {
        display: block;
        opacity: 1;
        margin-left: 0px;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        margin-left: 50px;
    }

    1% {
        display: block;
        opacity: 0;
        margin-left: 50px;
    }

    100% {
        display: block;
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
        margin-left: 50px;
    }

    1% {
        display: block;
        opacity: 0;
        margin-left: 50px;
    }

    100% {
        display: block;
        opacity: 1;
        margin-left: 0px;
    }
}
